body {
  /* font-family: Arial, sans-serif; */
  font-size: 11px;
  color: #000;
  background:#f3f3f3;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  align-items: flex-start;
  overflow: auto;
}

hr{
  border: none;
}

h1, h3 {
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
  font-size: 12px;
}

h1 {
  font-size: 16px;
  padding: 10px 0 0 0;
}

h2 {
  font-size: 14px;
  margin: 4px 0;
  font-weight: bold;
}

.workspace {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: flex-start; /* conteúdo cresce para a direita */
  align-items: flex-start;

  padding: 20px;
  box-sizing: border-box;
}

/* #ficha {
  transform-origin: top left;
  transform: scale(calc(100vw / 500
  ));
  width: 1240px; 
  margin: 0 auto;
}

@media (max-width: 768px) {
  :root {
    --escala-ficha: ; 
  }
} */

@page {
  size: A4;
  margin: 20mm;
}

.container { 
  size: A4;
  /* margin: 20mm; */
  background: #fff;
  width: 21cm;
  height: 29.7cm;
  /* border: 1px solid #000; */
  padding: 20px 20px 0 20px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}
.container-c {
  display: flex;
  flex-direction: column;
  size: A4;
  /* margin: 20mm; */
  background: #fff;
  width: 21cm;
  /* min-width: 21cm; */
  height: 29.69cm;
  /* min-height: 29.5cm; */
  /* border: 1px solid #000; */
  padding: 50px 72px 0 72px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;

}
.pdf + .pdf {
  page-break-before: always;
}
.container-c p{
  margin: 0 0 10px 0;
}
.container-c h1{
  padding: 5px 0 0 0;
  margin: 0 0 10px 0;
}
.container-c div p, .container-c div h1{
  margin: 0;
  padding: 0;
}


.text-c{
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  /* padding: 0 25px 0 25px; */
}

.l{
  text-align: left;
}
.c{
  text-align: center;
  align-self: center;
}

ol{
  /* margin: 0; */
  /* padding: 0 0 0 16px; */
  text-align: justify;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: #000 solid 3px;
  border-bottom: #000 solid 2px;
  margin: 0;
}

td, th {
  text-align: left;
  border: 1px solid #000;
  height: 20px;
  padding: 2px 6px;
  vertical-align: middle;
}
.border-r{
  border-right: none;
}
.border-l{
  border-left: none;
}

.cabecalho{
  font-size:7px;
  font-weight: 600;
  padding: 2px 10px;
  /* background: #cdcdcd; */
  height: 8px;
  /* border: 1px solid #000; */
}

.assinatura { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size:10px;
  text-align: center;
  gap: 15px;
}

.linha-assinatura { 
  width: 350px; 
  border-top: 1px solid black; 
  margin: 2px auto; 
}

.assinatura p {
  min-width: 100%;
}
.assinatura div {
  font-size:8px;
  font-weight: 600;
  margin-top: 20px;
}
.titles {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  height: 90px;
}
.titles-c {
  display: flex;
  flex-direction: row;
  /* padding-bottom: 10px; */
  height: 90px;
}
.perfil {
  border: #000 solid 1px;
  min-width: 3cm;
  max-width: 3cm;
  min-height: 4cm;
  max-height: 4cm;
  position: relative; 
  /* top: 40px; */
  background: #fff;
}
.perfil img { width: 100%; height: 100%; object-fit: cover; }
.text{
  /* margin-top: 30px; */
  width: 100% ;
  overflow: hidden;
}