#formulario {
  max-width: 980px;
  margin-inline: auto;
  padding: 10px;
  background: #f3f3f3;
  border-bottom: 2px solid #000;
}

#formulario label {
  display: block;
  margin-top: 8px;
  font-weight: 600;
}

#formulario input {
  width: 100%;
  padding: 6px;
  margin: 4px 0 0 0;
  height: 32px;
  box-sizing: border-box;
  /* text-transform:uppercase; */
}

#formulario button {
  margin-top: 12px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

#formulario select{
  height: 32px;
  width: 100%;
  margin-top: 4px;
}

#formulario .file {
  background: #fff;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

.file:hover {
  border-color: #555;
}

.file::file-selector-button {
  background-color: #989898ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px 10px;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.file::file-selector-button:hover {
  background-color: #5a5a5aff;
}
.f1 {
  flex: 1;
  min-width: 6.5rem;
}
.f2 {
  flex: 1.7;
  min-width: 14rem;
}
.f3 {
  flex: 3;
  min-width: 14rem;
}
.f4 {
  flex: 4;
  min-width: 14rem;
}
.f05 {
  flex: 0.5;
}
.line{
  display: flex;
  flex-wrap: wrap;
  gap: 1%
}